.state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}
body{
  font-family: 'Alegreya Sans', Calibri, sans-serif;
  text-align:center;
}
h1{ font-size: 30px; }

.label{ font-size: 14px;}

#plot{
	margin: 0 auto;
	display: block;
	overflow:visible;
}

/* translate labels so that map is more clear*/
#label-Idaho{ transform: translate(5pt,-14pt); }
#label-Maine{ transform: translate(0pt,-14pt); }
#label-Delaware{ transform: translate(0pt,-14pt); }
#label-Hawaii{ transform: translate(0pt,-8pt); }
#label-RhodeIsland{ transform: translate(0pt,40pt); }
#label-Texas{ transform: translate(-32pt,17pt); }
#label-SouthCarolina{ transform: translate(57pt,14pt); }
#label-Indiana{ transform: translate(38pt,13pt); }
#label-NorthCarolina{ transform: translate(-58pt,13pt); }
#label-Nevada{ transform: translate(-36pt,13pt); }
#label-Georgia{ transform: translate(38pt,12pt); }
#label-Florida{ transform: translate(29pt,6pt); }
#label-Pennsylvania{ transform: translate(53pt,8pt); }
#label-Maryland{ transform: translate(-45pt,21pt); }
#label-NewYork{ transform: translate(0pt,-11pt); }
#label-Alaska{ transform: translate(0pt,-6pt); }
#label-NewJersey{ transform: translate(0pt,-11pt); }
#label-Connecticut{ transform: translate(0pt,42pt); }
#label-Vermont{ transform: translate(-2pt,-10pt); }
#label-Massachusetts{ transform: translate(0pt,42pt); }
#label-NewHampshire{ transform: translate(0pt,-10pt); }
#label-WestVirginia{ transform: translate(46pt,14pt); }
#label-Virginia{ transform: translate(35pt,0pt); }
#label-Arizona{ transform: translate(0pt,-5pt); }
#label-Ohio{ transform: translate(0pt,-2pt); }
#label-Colorado{ transform: translate(30pt,2pt); }
#label-California{ transform: translate(-42pt,15pt); }
#label-Oregon{ transform: translate(-35pt,12pt); }
#label-Washington{ transform: translate(42pt,-2pt); }
#label-Arkansas{ transform: translate(-30pt,7pt); }
#label-Alabama{ transform: translate(-25pt,2pt); }
#label-NewMexico{ transform: translate(-33pt,0pt); }
#label-Mississippi{ transform: translate(15pt,0pt); }
#label-Utah{ transform: translate(20pt,5pt); }
#label-Wisconsin{ transform: translate(35pt,18pt); }
#label-Minnesota{ transform: translate(38pt,12pt); }
#label-NorthDakota{ transform: translate(-28pt,3pt); }
#label-Michigan{ transform: translate(0pt,2pt); }
#label-Kentucky{ transform: translate(0pt,2pt); }
#label-Kansas{ transform: translate(0pt,2pt); }
#label-Iowa{ transform: translate(0pt,2pt); }


